/* CSS declarations go here */
#map {
    min-height: 600px;
    min-width: 100%;
}
.camera {
    content: url(http://johngeorgeracing.com/gallery/var/resizes/racing/thompson2014/IMG_7482.jpg?m=1406648141);
    height: 300px;
    float: right;
}
