/* CSS declarations go here */
#map {
    min-height: 600px;
    min-width: 600px;
    pointer-events: all;
}
#container{
    width: 1024px;
}
.camera {
    content: url(http://johngeorgeracing.com/gallery/var/resizes/racing/thompson2014/IMG_7482.jpg?m=1406648141);
    height: 300px;
    float: right;
}
.leaflet-container {
    background: #004873;
}
#bottom{
    width: 1024px;
    margin-top: -95px;
    pointer-events: none;
    z-index: -1;
}
#top{
    width: 1024px;
}
